body{
    background-color: hsl(212, 45%, 89%);
}

.box{
    margin: auto;
    padding: auto;
    background-color: white;
    width: 430px;
    height: 700px;
    border: 35px;
    border-radius: 35px;
    font-family: arial;
    font-weight: 700px;
    font-size: 15px;
    box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.11); 
}

img{
    margin: auto;
    padding: 5.5%;
    width: 380px;
    border-radius: 11%;
}

h1{
    margin: auto;
    padding: 25px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p{
    margin: auto;
    padding: 25px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}
